<div class="text-center">
    <br />
    <h1>Ви благодариме за нарачката!</h1>
    <p class="pb-3">Ние ја примивме Вашата нарачка, плаќањето ќе биде процесирано наскоро!</p>
    <img src=~/images/order2.jpeg width=60%; />
</div>
