@{
    ViewData["Title"] = "About";
}

<div class="col-md-6 bg-dark offset-md-3 pt-5">
    <div class="mt-2 bg-dark text-white senka">
        <div class="row">
            <div class="tm-site-header text-center mb-4">
                <img src="~/images/InsLogo_samo_poligoni-e1542727423564.png" class="rotate_01" />
            </div>
            <div class="bg-transparent col-6">
                <div style="font-weight:600;">
                    <div class="row bg-transparent text-white">
                        <div class="col-5 offset-1 ">
                            <input placeholder="Име и презиме" class="form-control" />
                        </div>
                        <div class="col-5 d-grid gap-2">
                            <input placeholder="Маил" class="form-control" />
                        </div>
                        <div class="col-10 offset-1 d-grid gap-2 pt-3">
                            <textarea placeholder="Вашата порака" rows=5></textarea>
                        </div>
                        <div class="col-8 offset-2 d-grid gap-2 pt-5 pb-4">
                            <button type="submit" class="btn btn-success ">
                                <span>Пратете порака</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
             <div class="bg-transparent col-6 p-3">
                <div style="font-weight:600;">
                    <div class="row text-center">
                       <h2 class="text-white" style="font-family: Brush Script MT; text-decoration:none; font-size: 2.0rem;">ZA NAS</h2>
                       <p style="font-family: Monospace; text-decoration:none; justify-content: center; font-size: 0.85rem;" class="text-warning pr-5">Оваа визија ја стимулираше целта на ИНС како што започнавме во 2007 година. Оттогаш сме ангажирани од големи претпријатија, продавачи на софтвер и технолошки стартапи. Ги заштедивме трошоците за развој, тестирање и одржување. Ние побрзо донесуваме производи и комплексни апликации на пазарот. И ние продолжуваме да растеме затоа што го исполнуваме нашето ветување дека ќе испорачаме деловни решенија, а не само функционален софтвер.</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>